<html>
<head>
    <link rel="stylesheet" href="/statics/css/edit.css">
    <link href="https://cdn.bootcss.com/bulma/0.7.1/css/bulma.css" rel="stylesheet">
</head>
<body>
<div class="section">
    <div class="container" id="review-panel">
        <div class="tile is-ancestor">
            <div class="tile is-7 is-vertical is-parent">
                <div class="tile is-child box">
                    <p class="title">原文</p>
                    <p>{{original}}</p>
                </div>
                <div class="tile is-child box">
                    <p class="title">参考翻译</p>
                    <p>{{prevTrans}}</p>
                </div>
            </div>
            <div class="tile is-parent is-vertical">
                <div class="tile is-child box">
                    <p class="title">修改翻译: {{word}}</p>
                    <textarea class="textarea" style="height: 100%" v-model="nextTrans"></textarea>
                    <button class="button is-primary is-rounded"
                            style="margin-top: 20px"
                            @click="submit">提交</button>
                    <button class="button is-primary is-rounded"
                            v-if="prevTrans === nextTrans"
                            style="margin-top: 20px"
                            @click="finalSubmit">不需修改</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script src="https://cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
<script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
<script src="/statics/js/edit.js"></script>
</html>
