<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div id="login-panel">
    <input type="text" v-model="username">
    <input type="text" v-model="password">
    <button @click="login">Login</button>
</div>
</body>
<script src="https://cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
<script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
<script src="/statics/js/jsencrypt/jsencrypt.min.js"></script>
<script src="/statics/js/login.js"></script>
</html>